%script{:type => "text/javascript", :src => "https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"}
%script{:type => "text/javascript", :src => "generateView.js"}
%script{:type => "text/javascript", :src => "aes.js"}
%script{:type => "text/javascript", :src => "generateMessageView.js"}

%form{:id => "input-form"}
  Secret:
  %input.input{:type => "text", :required => true, :name => "secret"}
  %br/
  Partial keys to generate:
  %input.input{:type => "number", :required => true, :min => "2", :name => "total-parts", :value => 3}
  %br/
  Partial keys needed to reconstruct secret:
  %input.input{:type => "number", :required => true, :min => "2", :name => "minimum-parts", :value => 2}
  %br/
  %input.submit-button{:type => "submit", :name => "generate-button", :value => "Generate Partial Keys!"}

#partial-keys
