%script{:type => "text/javascript", :src => "generateView.js"}

%form{:id => "input-form"}
  %input.input{:type => "text", :required => true, :name => "secret", :placeholder => "Your Secret"}
  %br/
  %input.input{:type => "number", :required => true, :min => "2", :name => "total-parts", :placeholder => "Total number of lock codes to generate"}
  %br/
  %input.input{:type => "number", :required => true, :min => "2", :name => "minimum-parts", :placeholder => "Minimum number of lock codes to require to unlock your secret"}
  %br/
  %input.submit-button{:type => "submit", :name => "generate-button", :value => "GENERATE LOCK CODES"}

#partial-keys
