%html
  %head
    %script{:type => "text/javascript", :src => "client.js"}
    %script{:type => "text/javascript", :src => "random.js"}
    %script{:type => "text/javascript", :src => "generateView.js"}

  %body
    #content
      %h1 k-key secret sharing
      %form{:id => "input-form"}
        Secret:
        %input{:type => "text", :required => true, :name => "secret"}
        %br/
        Partial keys to generate:
        %input{:type => "number", :required => true, :min => "2", :name => "total-parts", :value => 3}
        %br/
        Partial keys needed to reconstruct secret:
        %input{:type => "number", :required => true, :min => "2", :name => "minimum-parts", :value => 2}
        %br/
        %input{:type => "submit", :name => "generate-button", :value => "Generate Partial Keys!"}

      #partial-keys

    %script document.addEventListener('DOMContentLoaded', KKSS.boot(), false);