%html
  %head
    %script{:type => "text/javascript", :src => "client.js"}
    %script{:type => "text/javascript", :src => "random.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One", :rel =>"stylesheet"}

  %body
    #content
      %h1{:onclick => "location.href='/';"}= "KiKaSS K-Key Secret Sharing"
      %h3="#{@title}"

      = yield

    %script document.addEventListener('DOMContentLoaded', KKSS.boot(), false);
