%script{:type => "text/javascript", :src => "tables.js"}
%script{:type => "text/javascript", :src => "reconstructView.js"}

%form{:id => "input-form"}
  Enter lock codes:
  %br/
  %input.partial-key.input{:type => "text", :name => "key0"}
  %br/
  %input.partial-key.input{:type => "text", :name => "key1"}
  %input.add-button{:type => "button", :name => "add-key-button", :value => "+"}
  %br/
  %input.submit-button{:type => "submit", :name => "reconstruct-button", :value => "Decode Secret"}

#partial-keys
